.header {
    width: 100%;
    background-color: burlywood;
    height: 150px;
}
.left-section {
    width: 30%;
    background-color: bisque;
    height: 400px;
    float: left;
}
.right-section {
    width: 70%;
    background-color: beige;
    height: 400px;
    float: left;
}
.footer {
    height: 200px;
    width: 100%;
    background-color: black;
}
.content {
    height: 400px;
}
body {
    margin: 0%;
}