button{
    background-color:#fa425a;
    color: white;
}
.heading{
    font-size: 80px;
    font-family: sans-serif;
    color: #22a1db;
}
.para{
    font-size: 20x;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
div{
    height: 100px;
    width: 500px;
    margin-top: 80px;
    margin-left: 50PX;
    padding-left: 40px;
    border: 2px solid;

}